<% include ./partials/header.ejs %>

<h1 class="color-white">Login here</h1>
<form action="/login" method="post">
    <input type="text" placeholder="User name" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit">Login</button>
</form>

<% include ./partials/footer.ejs %>